// Base
$white: #FFFFFF;
$black: #000000;

// White
$white-100: #FEFEFFFF;
$white-90: #FEFEFFE5;
$white-80: #FEFEFFCC;
$white-70: #FEFEFFB2;
$white-60: #FEFEFF99;
$white-50: #FDFEFE80;
$white-40: #FEFEFF66;
$white-30: #FEFEFF4D;
$white-20: #FEFEFF33;
$white-10: #FEFEFF1A;

// Black
$black-100: #0A042EFF;
$black-90: #0A042EE5;
$black-80: #0A042ECC;
$black-70: #0A042EB2;
$black-60: #0A042E99;
$black-50: #0A042E80;
$black-40: #0A042E66;
$black-30: #0A042E4D;
$black-20: #0A042E33;
$black-10: #0A042E1A;
$black-5: #0A042E0D;

// Red
$red-100: #AE1A17;
$red-80: #BE4845;
$red-70: #FABFC5;

// Pink
$pink-100: #E83F41;
$pink-80: #FF6F71;
$pink-60: #FFBEBF;
$pink-50: #F9CECF;
$pink-40: #F5E7E4;

// Dark-pink
$dark-pink-100: #AE1756;
$dark-pink-90: #E7B9CC;
$dark-pink-10: #E83F4119;

// Purple
$purple-100: #482E7D;
$purple-95: #BC9BF4;
$purple-90: #8D5CDB;
$purple-70: #E3D5FA;
$purple-60: #E9DFFB;
$purple-50: #F1EAFC;

// Green
$green-100: #6BAF44;
$green-80: #8FD87E;
$green-75: #D9FCD0;
$green-70: #D5FCCC;
$green-60: #D7E6BF;
$green-50: #F3FEF0;

// Yellow
$yellow-100: #F6BD12;
$yellow-90: #F2D755;
$yellow-70: #FFEB9C;
$yellow-60: #F5E8BE;
$yellow-50: #FFF1BA;
$yellow-40: #FFF9E1;

// Orange
$orange-100: #FE5F1E;
$orange-80: #F7C278;
$orange-60: #FEE3B4;
$orange-50: #FBE199;
$orange-30: #FFF9EE;

// Brown
$brown-100: #754F42FF;
$brown-90: #926B50FF;
$brown-20: #BC987E33;
$brown-10: #754F421A;
